.Contact {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: -25px;
    padding: 10px;
}

.Contact__button {
    margin: 0 auto;
    height: 32px;
    width: 80px;
    border: 2px solid black;
    cursor: pointer;
}